name: Run Java Program
on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  run-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
      - name: CompileH
        run: javac Hello.java
      - name: RunH
        run: java Hello
      - name: CompileW
        run: javac Welcome.java
      - name: RunW
        run: java Welcome
